<mat-toolbar class="header">
    Angular Chat
</mat-toolbar>
<mat-list class="chatlist" #list>
    <mat-list-item *ngFor="let message of history" style="padding: 20px;" [scrollTop]="list.scrollHeight">
        <table style="width: 100%;">
            <tr *ngIf="user == message.name" class="mymessage">
                <td style="vertical-align: top; text-align: right;">
                    <div>
                            {{ message.message }}
                    </div>
                </td>
                <td>
                        <div></div><br>
                        {{ message.name }}
                </td>
            </tr>
            <tr *ngIf="user != message.name" class="othermessage">
                <td>
                    <div></div><br>
                    {{ message.name }}
                </td>
                <td style="vertical-align: top;">
                    <div>
                            {{ message.message }}
                    </div>
                </td>
            </tr>
        </table>
    </mat-list-item>
</mat-list>
<mat-toolbar color="primary" class="footer">
    <table class="tbl">
        <tr>
            <td>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Username" value="{{ user }}" [(ngModel)]="user" (focusout)="userChange()">
                    </mat-form-field>
            </td>
            <td>
                    <mat-form-field style="width: 100%;">
                        <input matInput type="text" placeholder="Message" (keyup)="sendKey($event)" [(ngModel)]="message">
                    </mat-form-field>
            </td>
            <td>
                    <button mat-raised-button (click)="sendMessage()">Send</button>
            </td>
        </tr>
    </table>
</mat-toolbar>